html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#foreground {
  height: 100%;
  z-index: 1;
  position: absolute;
  font-family: "Courier New";
  font-size:4vw;

}